section {
    max-width: 70rem; /* 헤더의 최대 너비 설정 */
    margin: 0 auto; /* 가운데 정렬 */
    width: 100%;
}

section h2{
    margin-bottom: 3rem;
    text-align: center;
    font-size: 2rem;
}

section .agree-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section .agree-container h2 {
    margin-bottom: 20px;
    text-align: center;
    font-size: 1.5rem;
}

section .agree-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
}

section .agree-container .text {
    height: 10rem;
    width: 30rem;
    overflow-y: scroll;
    border-radius: 1rem;
    background-color: #eceaea;
    padding: 1rem;
    text-align: left;
    margin-bottom: 1rem;
}

section .agree-container .text p {
    margin-bottom: 3rem;
    text-align: center;
    font-size: 1.5rem;
}

section .agree-container input[type="text"],
section .agree-container input[type="email"],
section .agree-container input[type="password"] {
    margin-bottom: 15px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

section .agree-container button {
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #f38c48;
    color: #fff;
    cursor: pointer;
    margin-top: 1rem;
}

section .agree-container button:hover {
    background-color: #f8802d;
}