<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <title>Title</title>
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/login.css">
  </head>
  <body>

    <header>
      <img class="menuIcon" src="../image/menu_icon.png">
      <div class="logo">DribbleMatch</div>
      <div class="searchBar">
        <input type="text" placeholder="경기 검색">
      </div>
      <img class="userInfoIcon" src="../image/userInfo_icon.png">
    </header>


    <section>
      <div class="login-container">
        <h2>로그인</h2>
        <form>

          <label>
            <input type="email" name="email" placeholder="이메일">
          </label>

          <label>
            <input type="password" name="password" placeholder="비밀번호">
          </label>

          <div class="Btn">
            <button type="submit">로그인</button>
            <button class="signIn">회원가입</button>
          </div>
        </form>
      </div>
    </section>
  </body>
</html>