<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="../../css/header.css">
  <link rel="stylesheet" href="../../css/signup/agree.css">
  <link rel="stylesheet" href="../../css/signup/signup_step.css">
</head>
<body>

<header>
  <img class="menuIcon" src="../../image/menu_icon.png">
  <div class="logo">DribbleMatch</div>
  <div class="searchBar">
    <input type="text" placeholder="경기 검색">
  </div>
  <img class="userInfoIcon" src="../../image/userInfo_icon.png">
</header>

<section>
  <h2>회원 가입</h2>
  <div class="step-progress">
    <div class="step step-now">
      <div class="step-circle">1</div>
      <div class="step-label">약관 동의</div>
    </div>
    <div class="step">
      <div class="step-circle">2</div>
      <div class="step-label">본인 인증</div>
    </div>
    <div class="step">
      <div class="step-circle">3</div>
      <div class="step-label">회원 정보 입력</div>
    </div>
    <div class="step">
      <div class="step-circle">4</div>
      <div class="step-label">선수 정보 입력</div>
    </div>
    <div class="step">
      <div class="step-circle">5</div>
      <div class="step-label">완료</div>
    </div>
  </div>
</section>

<section>
    <div class="agree-container">
      <h2>약관 동의</h2>
      <form id="terms-form">
        <div class="text">
          <p>DribbleMatch 이용 약관</p>
                        방은비 바보 멍청이<br>
          방은비 바보 멍청이<br>
          방은비 바보 멍청이<br>
          방은비 바보 멍청이<br>
          방은비 바보 멍청이<br>
          방은비 바보 멍청이<br>
          방은비 바보 멍청이<br>
          방은비 바보 멍청이<br>
          방은비 바보 멍청이<br>
          방은비 바보 멍청이<br>
          방은비 바보 멍청이<br>
          방은비 바보 멍청이<br>


          asdf
        </div>
        <label>
          <input type="checkbox" id="agree" name="agree" required> 약관에 동의합니다
        </label>
        <button type="button">다음</button>
      </form>
    </div>
</section>
</body>
</html>