<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="../../css/header.css">
  <link rel="stylesheet" href="../../css/signup/user_info.css">
  <link rel="stylesheet" href="../../css/signup/signup_step.css">
</head>
<body>

<header>
  <img class="menuIcon" src="../../image/menu_icon.png">
  <div class="logo">DribbleMatch</div>
  <div class="searchBar">
    <input type="text" placeholder="경기 검색">
  </div>
  <img class="userInfoIcon" src="../../image/userInfo_icon.png">
</header>

<section>
  <h2>회원 가입</h2>
  <div class="step-progress">
    <div class="step step-active">
      <div class="step-circle">1</div>
      <div class="step-label">약관 동의</div>
    </div>
    <div class="step step-active">
      <div class="step-circle">2</div>
      <div class="step-label">본인 인증</div>
    </div>
    <div class="step step-now">
      <div class="step-circle">3</div>
      <div class="step-label">회원 정보 입력</div>
    </div>
    <div class="step">
      <div class="step-circle">4</div>
      <div class="step-label">선수 정보 입력</div>
    </div>
    <div class="step">
      <div class="step-circle">5</div>
      <div class="step-label">완료</div>
    </div>
  </div>

  <div class="signup-container">
    <h2>회원 정보 입력</h2>
    <form>

      <div class="label-container">
        <label for="nickname">닉네임</label>
      </div>
      <div class="info-container">
        <input type="text" id="nickname" name="nickname" placeholder="사용하실 닉네임을 입력해주세요" required>
        <button type="button" class="check-nickname">중복 확인</button>
      </div>

      <div class="label-container">
        <label for="email">이메일</label>
      </div>
      <div class="info-container">
      <input type="email" id="email" name="email" placeholder="이메일을 입력해주세요" required>
      </div>

      <div class="label-container">
        <label for="password">비밀번호</label>
      </div>
      <div class="info-container">
      <input type="password" id="password" name="password" placeholder="비밀번호 입력해주세요" required required>
      </div>


      <button type="submit">가입하기</button>
    </form>
  </div>
</section>
</body>
</html>